nav {
    color: #DFE0E2;
    height: 50px;
  }
  
nav ul {
  list-style: none; 
  display: flex; 
  justify-content: space-between; 
  margin: 0;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0; 
  align-items: right;
  font-size: x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  
nav ul li button {
  color: #DFE0E2;
  font-size: x-large;
  font-weight: bolder;
  background-color: transparent;
  border-style: none;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

nav ul li button:hover {
  text-shadow: 0 0 20px white;
}